<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/style.css">
        <link rel="icon" href="assets/logo-3.png">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap" rel="stylesheet">

        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Hi! I'm Jieruei. I enjoy competitive programming, web development and making things with computer vision and machine learning.">
        <title>Jieruei Chang (@knosmos)</title>
    </head>
    <body>
        <div class="container">
            <br><br><br><br><br>
            <a name="top"></a>
            <a href="index.html" data-aos="zoom-in" style="display:block">[home]</a>
            <h1 data-aos="zoom-in" style="margin-top:30px">coursework<span style="color:var(--accent)">.</span></h1>
            <p data-aos="zoom-in">
                Relevant technical courses I have taken during my time at university. If
                you're a high school student or college freshman who's stumbled onto this page,
                I hope this gives a pretty candid overview of the classes you might want (or need)
                to take in the future.
            </p>
            <div id="classes">
                <div v-for="course in classes">
                    <p data-aos="zoom-in" style="margin-top:30px; border-left:var(--accent) 1px solid; padding-left:10px;">
                        <span style="color:var(--accent)">{{ course.num }}</span> <span style="color:#fff">{{ course.name}}</span>
                        <span style="color:#4c4c4c">- {{ course.grade }}</span>
                        <br>
                        {{ course.desc }}
                    </p>
                </div>
            </div>
            <br><br>    
            <p data-aos="zoom-in">
                There's also a handful of humanities courses I've taken that I found interesting:
            </p>
            <div id="humanities">
                <div v-for="course in classes">
                    <p data-aos="zoom-in" style="margin-top:30px; border-left:var(--accent) 1px solid; padding-left:10px;">
                        <span style="color:var(--accent)">{{ course.num }}</span> <span style="color:#fff">{{ course.name}}</span>
                        <span style="color:#4c4c4c">- {{ course.grade }}</span>
                        <br>
                        {{ course.desc }}
                    </p>
                </div>
            </div>
            <br><br><br><br><br>
            <hr>
            <div class="footer" id="footer" data-aos="zoom-in">
                <a href="#top">⇧ back to top</a><br>
                <a href="index.html">home</a>
                <p>copyright © {{ currentYear }} Jieruei Chang</p>
                <p>built with <a href="https://vuejs.org/" target="_blank">vue</a> and <a href="https://p5js.org/" target="_blank">p5.js</a></p>
                <br>
            </div>
        </div>
        <script src="static/classes.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init({
                duration: 500,
                once: true
            });
        </script>
    </body>
</html>